* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 1em;
}

:root {
    --background-col-w: #fff9f5;
    --sec-bg-col-w: #071d2b;
    --font-sec: #C2640C;
    --prim: #0070f6;
}

body {
    position: relative;
    background-color: var(--background-col-w);
    height: 100vh;
    color: var(--sec-bg-col-w);
    font-kerning: auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2em 0em;
}

main {
    text-align: center;
    border-radius: 15px;
    width: 100%;
    max-width: 480px;
    margin: auto;
}


h2 {
    font-size: 1.5em;
    margin: 1em auto;
}

.dis {
    display: grid;
    grid-template-columns: minmax(1fr, auto) 1fr;
    gap: .5em;
}

.displayPassword {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background: #ffffff;
    border: 1px solid #161616;
    border-radius: 10px;
    height: 45px;
    max-width: 100%;
    width: 95%;
    min-width: 10em;
}

button.copybtn {
    width: 2em;
    height: 2em;
    padding:2px;
}

button > img{
    width: 1.5em;
    height: 100%;
    margin: auto;
}

ul {
    list-style-type: none;
    width: 100%;
    font-size: .9rem;
    max-width: 270px;
    margin: auto;
}

button {
    color: #f8f7ff;
    cursor: pointer;
}

li {
    margin: 2em;
    text-align: left;
}

.field {
    outline: none;
    border: none;
    border-radius: 10px;
    height: 2.8em;
    width: 100%;
    max-width: 12.5em;
    padding: 0px 1em;
    margin: auto;
    font-size: .9rem;
    text-align: center;
}

button, input {
    background-color: var(--prim);
    max-width: 240px;
    margin: auto;
}

input[type=radio] {
    accent-color: var(--prim);
}

::placeholder, input:focus {
    color: #f8f7ff;
}

label > span {
    font-size: 11px;
}
